/* .rhap_progress-indicator{
    width: 1px;
    margin-left:1px

} */

.track__container {
    display: flex;
    align-items: center;
  }
  
  .track__item:nth-of-type(1) {
    background-color: rgb(26, 6, 113);
  }
  
  .track__item:nth-of-type(2) {
    background-color: rgb(48, 33, 184);
  }
  
  .track__item:nth-of-type(3) {
    background-color: rgb(40, 91, 208);
}
  
  .track__item:nth-of-type(4) {
    background-color: rgb(61, 111, 227);
  }
  
  .track__item:nth-of-type(5) {
    background-color: rgb(112, 165, 235);
  }
  
  .track__item:nth-of-type(6) {
    background-color: rgb(234, 191, 191);
  }
  
  .track__item:nth-of-type(7) {
    background-color: rgb(228, 148, 148);
  }
  
  .track__item:nth-of-type(8) {
    background-color: rgb(195, 99, 99);
 }

  .track__item:nth-of-type(9) {
    background-color: rgb(176, 78, 78);
  }
  
  .track__details {
    display: flex;
    align-items: center;
    padding: 1px 1px;
    min-width: 145px;
    background-color: #0d0c0cbe;
  }
.MuiIcon-colorPrimary{
    color: white !important;
}
/* .track__mute {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: none;
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 25%;
    color: var(--clr-background);
    cursor: pointer;
  }  */
/*   
  .track__mute:hover {
    color: var(--clr-base2-lighter);
    border: 1px solid var(--clr-base2-lighter);
  } */
  
  .track__name {
    text-transform: capitalize;
    font-size: 1.09rem;
    color:white;
    font-family: "Monaco", monospace;
  }
