.channel_container {
  display: flex;
  align-items: center;
  height: 70px
}

.channel_details {
  display: flex;
  align-items: center;
  padding: 1px 1px;
  width: 150px;
  height: 100%;
  background-color: #0d0c0cbe;
}

.MuiIcon-colorPrimary {
  color: white !important;
}

.MuiIcon-root {
  height: unset !important;
}

.channel_name {
  text-transform: capitalize;
  font-size: 1.09rem;
  color: white;
  font-family: "Monaco", monospace;
}