.looper_thumb {
  opacity: 1;
  position: absolute;
  width: 89%;
  height: 100%;
  -webkit-appearance: none;
  background: transparent;
  margin-left: 75px;
  cursor: pointer;
}

.looper_thumb_inactive {
  opacity: 0.5;
  transition: 0.2s ease;
}


.looper_thumb:focus {
  outline: none;
}

.looper_thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}


.looper_thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  background: white;
  height: 630px;
  cursor: pointer;
  margin-top: 0;
}

.looper_thumb::-moz-range-thumb {
  box-shadow: 0px 0px 0px white, 0px 0px 0px white;
  border: 1px solid white;
  width: 1px;
  background: white;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .looper_thumb {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .looper_thumb {
    width: 65%;
  }
}